# This is a Github Workflow that runs tests on any push or pull request.
# If the tests pass and this is a push to the master branch it also runs Semantic Release.
name: CI
on: [push, pull_request]
jobs:
  init:
    name: init
    runs-on: ubuntu-20.04
    outputs:
      skip: ${{ steps.ci-skip-step.outputs.ci-skip }}
      skip-not: ${{ steps.ci-skip-step.outputs.ci-skip-not }}
    steps:
      - uses: actions/checkout@v2
      - id: ci-skip-step
        uses: mstachniuk/ci-skip@v1

  build:
    name: build
    needs: init
    if: ${{ needs.init.outputs.skip == 'false' }}
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Fetch deps
        run: yarn

      - name: Build target
        run: yarn build

      - name: Save target to artifact
        uses: actions/upload-artifact@v2
        with:
          name: target
          retention-days: 1
          path: |
            docs
            target
            flow-typed
            typings
            buildstamp.json

  test_push:
    name: Test on push
    needs: build
    if: github.event_name == 'push'
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Restore target
        uses: actions/download-artifact@v2
        with:
          name: target

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Fetch deps
        run: yarn

      - name: Unit tests
        run: yarn test:unit

      - name: Push coverage to artifact
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v2
        with:
          name: target
          retention-days: 1
          path: coverage

  test_pr:
    if: github.event_name == 'pull_request'
    needs: build
    name: Test PR (Node v${{ matrix.node-version }}, OS ${{ matrix.os }})
    strategy:
      matrix:
        os: [ windows-2019, ubuntu-20.04 ]
        node-version: [ 12, 14, 16 ]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Restore target
        uses: actions/download-artifact@v2
        with:
          name: target

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Fetch deps
        run: yarn

      - name: Integration tests
        if: matrix.node-version != '16' || matrix.os != 'ubuntu-20.04'
        run: yarn test:it

      - name: Full test suite
        if: matrix.node-version == '16' && matrix.os == 'ubuntu-20.04'
        run: yarn jest -v && yarn test

  release:
    name: Release
    # https://github.community/t/trigger-job-on-tag-push-only/18076
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: test_push
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Restore target
        uses: actions/download-artifact@v2
        with:
          name: target

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Codeclimate
        uses: paambaati/codeclimate-action@v2.7.5
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageLocations: |
            ${{github.workspace}}/coverage/*.lcov:lcov

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        with:
          extends: |
            @qiwi/semrel-config
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GIT_AUTHOR_EMAIL: 'mailbox@antongolub.ru'
          GIT_COMMITTER_EMAIL: 'mailbox@antongolub.ru'
          GIT_AUTHOR_NAME: '@antongolub'
          GIT_COMMITTER_NAME: '@antongolub'
